<table border='0' cellpadding='0' cellspacing='0' width='85%' stype='padding:2px' bgcolor='#ff6600'>
  <tbody>
    <tr>
      <td style="line-height:15pt; height:10px;">
        <span class='pagetop'>
          <a href='/'><b>Hacker News</b></a>
          <a href='/post'>submit</a>  |
          <a href='/comment'>comment</a> |
        </span>
      </td>
      <td stype='text-align:right;padding-right:4px;'>
        <% if session[:username] %>
          <%= session[:username] %>:
          <a href='/logout'>logout</a>
        <% else %>
          <a href='/login'>login</a>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<br>

<div>
    <%@posts.each do |p|%>
      <div id ='title_comment'>
      <a href='/user/<%= p.user.id %>'>
        <%= p.user.username%>
      </a>
        <%=p.created_at.strftime("%d %b. %Y") %>
    </div>
      <a href=<%= p.url %>><%= p.title %><br></a>
    <%end%>
</div>